* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  text-align: center;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  text-align: right;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.12);
}

ul {
  list-style: none;
  text-align: left;
}

h2 {
  // font-size: 32px;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
}
.container {
  width: 40%;
  margin: 0 auto;
  background: #f2f2f2;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.input__group {
  display: grid;
  grid-template-columns: 300px;
  margin: 2rem 0;
  justify-content: center;
  grid-gap: 20px;
  input {
    padding: 8px 1rem;
    font-weight: bold;
    color: #000;
    outline: none;
    font-size: 1rem;
    border-radius: 90px;
    border: none;
    background: #fff;
  }

  button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: bold;

    align-self: center;
    cursor: pointer;
    background: rgb(85, 41, 247);
    color: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}
